<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <% num = rand(1..6) %>
      <img src="/assets/trainers/<%=num%>.png" style="width:300px;height:500px;">    </div>
    <div class="col-lg-4">
      <h1>Edit PKMN Team</h1>
      <%= render :partial => "form", locals: {party: @party} %>
    </div>
    <div class="col-lg-4">
      
    </div>

  </div>
</div>