<div class="container">
  <div class="row">

    <div class="col-sm-2">
    </div>

    <div class="col-lg-8">
      <h2>List of <%= @user.name %>'s Parties: </h2>
      <ol>
        <% @user_parties.each do |party| %>
          <h2><li>
            <%= link_to party.name, user_party_path(@user, party) %></h2>
            <%= button_to "Delete this PKMN Party", user_party_path(@user, party), class: "btn btn-danger",method: :delete, data: { confirm: "Are you sure?" }%><br>
            <%= button_to "Edit this PKMN Party", edit_user_party_path(@user, party), class: "btn btn-warning", method: :get%>
            <% end %>
          </li>
      </ol>
      
    </div>

    <div class="col-sm-2">
    </div>

  </div>
</div>
