<img src="http://fontmeme.com/permalink/161031/276fee5310174f8850f5762d66269f7d.png" alt="pokemon-font" border="0">

<div class="center-on-page">
  
  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>
  
</div>

<img src="http://vignette3.wikia.nocookie.net/logopedia/images/f/f8/Pok%C3%A9mon_Gotta_Catch_'Em_All_1.png/revision/latest?cb=20130917213339" alt="pokeball" style="width:300px;height200px; margin-left: 40%"><br><br>




