<img src="/assets/pokerails.png" alt="pokemon-font" border="0">

<div class="center-on-page">
  
  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>
  
</div>

<div id="train" class="col-lg-12">
  <%=button_to "All Trainers", users_path, class: "btn btn-primary" %>
  <div id="trainers">
    
  </div>
</div>




