<img src="/assets/pokerails.png" alt="pokemon-font" border="0">

<div class="center-on-page">
  
  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>
  
</div>

<div id="trainer">

</div>

<script type="text/javascript">
  
$(function() {
  $("#all-trainers").on('click', function(event) {
    event.preventDefault();
    $.get('/users.json', function(data) {
      var string = "<h1> List of Trainers </h1>";
      $.each(data, function(index, value) {
        var name = value.name;
        string += "<li>" + name + "</li><br>";
      });
        $("#trainer").append(string);
    });
  });
});
</script>



