<h1>Kanto Region Pokedex</h1>

<% @array.each do |i| %>
  <% if @pokemons.find_by(pid: i)%>
    <h3><%= i %>. <%= link_to @pokemons.find_by(pid: i).name, @pokemons.find_by(pid: i) %></h3>

  <% else %>
    <h3><%= i %>. -- </h3>
  <% end %>
<% end %>
